.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.header-icons__left {
  width: 30px;
}

.header-icons__right {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
}

.header-font {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 120px;
}
